@model dynamic

@{
    ViewData["Title"] = "VIN Check Result";
}

<h2>VIN Check Result</h2>

<table class="table">
    <tr>
        <th>VIN</th>
        <td>@Model.VIN</td>
    </tr>
    <tr>
        <th>Make</th>
        <td>@Model.Make</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>@Model.Model</td>
    </tr>
    <tr>
        <th>Year</th>
        <td>@Model.Year</td>
    </tr>
    <tr>
        <th>Engine</th>
        <td>@Model.Engine</td>
    </tr>
</table>

<a class="btn btn-secondary" asp-controller="VINChecker" asp-action="Index">Check Another VIN</a>
